.advantages {
	display: none;
}


@media (min-width: 768px) {
	.advantages {
		display: block;
		padding: 50px 20px;
		padding-bottom: 150px;
		h4 {
			text-transform: uppercase;
		}
		p {
			color: #333;
		}
		.advantages-description {
			margin-bottom: 50px;
			img {
				margin-bottom: 20px;
				width: 60px;
			}
		}
		.advantages-item {
			padding-right: 20px;
			padding-left: 20px;
			img {
				width: 70%;
				margin-bottom: -40px;
			}
			h5 {
				color: black;
			}
			p {
				margin: 10px;
			}
		}
	}
}
@media (min-width: 996px) {
	.advantages {
		.advantages-item {
			img {
				width: 80%;
			}
		}
	}
}