<section>
	<% include components/head/_head-contacts %>
	<div class="col-md-12 animated fadeIn contacts">
		<% include components/_contacts-form %>
	</div>
	<% include components/_footer %>
</section>