<section>
	<% include components/head/_head-search %>
	<div class="col-md-12 animated fadeIn search-page">
		<% include components/_search-item %>
		<% include components/_search-item %>
		<% include components/_search-item %>
		
		<% include components/_pagination %>
	</div>
	<% include components/_footer %>
</section>