body {
	line-height: 1;
	background: #eaeaea url("./../images/bg.png") repeat !important;
	font: 400 14px/20px "Roboto","Helvetica Neue",Helvetica,sans-serif;
}
a {
	&:focus {
		outline: none !important;
	}
	&:hover {
		text-decoration: none !important;
	}
}
main {
	padding: 0px !important;
}