<section class="col-md-8">
	<aside class="asside-services">
		<div class="Services development carousel slide" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Creating Web sites</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Web portal</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Creating the application software (WINDOWS, MACOS, LINUX)</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Creation of server software (WINDOWS, LINUX, Unix)</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Creating mobile applications (IOS, ANDROID, WINDOWS PHONE, Amazon-Fire OS, BlackBerry 10, FirefoxOS, Ubuntu)</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Game Development</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Working under the e-commerce</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Geographic Information services</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Highload system</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Browser Extension</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Client optimization</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Data Visualization</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Nesting letters</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Development for the Internet of Things (IoT)</p></a>
				</div>
				<div class="item">
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Big Data</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Data mining</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Machine learning</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Scalability</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Системы хранения данных</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>SQL</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>NoSQL</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Анализ данных</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Распределённые вычислительные системы (Peer-to-Peer)</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Высоконагруженные системы</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Облачные вычисления</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Сжатие данных</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Семантика</p></a>
				</div>
				<div class="item">
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Проектирование интерфейсов</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Web-верстка</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>CG-art иллюстрация (книжная, журнальная, рекламная)</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Концепт-арт 2D (например игровой)</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Отрисовка персонажей</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Cоздание фонов</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Работа с фото</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Mattle Painting</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Создание обложек (например к муз. дискам например)</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Разработка вэб дизайна</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>UI design</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Дизайн интерфейсов</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Работа с анимацией и 3D-графикой</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Векторная графика</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Дизайн мобильных приложений</p></a>
				</div>
				<div class="item">
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Анализ видео</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Обработка видео</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Анализ изображений</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Обработка изображений</p></a>
				</div>
				<div class="item">
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Виртуализация</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Cерверная оптимизация</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Mesh-сети</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Серверное администрирование</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Хостинг</p></a>
				</div>
				<div class="item">
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Внешний аудит безопасности</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Внутренний аудит безопасности</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Аудит исходного кода</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Защита от (D)DoS атак</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Криптографические системы</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Работа с криптовалютами</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Шифрование данных</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Стеганография</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Разработка высокозащищённых систем</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Устранение уязвимостей</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Криптоанализ</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Электронная цифровая подпись</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Антиспам фильтры</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Капча</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Создание анонимности в сети</p></a>
				</div>
				<div class="item">
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Течнические</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Медицинские</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Научно-популярные</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Художествинные</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Рекламные переводы</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Переводы видео</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Переводы аудио</p></a>
					<a href="#"><i class="material-icons">&#xE88F;</i><p>Юридические переводы</p></a>
				</div>
			</div>
		</div>
	</aside>
</section>