<aside class="col-md-8 asside">
	<div class="row">
		<div class="Sites carousel slide" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="container">
						<div class="carousel-caption">
							<img src="./../images/oti][ito-image-blue.png"/>
							<h1>Example headline.</h1>
							<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
							<div class="col-md-2 sites-btn">
								<a href="./../examples/sites/GouPlanet_PC_service/"><i class="material-icons">&#xE85B;</i></a>
								<a href="./../info"><i class="material-icons">&#xE88F;</i></a>
								<a href="#"><i class="material-icons">&#xE8A1;</i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="container second-slide">
						<div class="carousel-caption">
							<img src="./../images/oti][ito-image-black.png"/>
							<h1>Another example headline.</h1>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							<div class="col-md-2 sites-btn">
								<a href="#"><i class="material-icons">&#xE85B;</i></a>
								<a href="#"><i class="material-icons">&#xE88F;</i></a>
								<a href="#"><i class="material-icons">&#xE8A1;</i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="carousel-caption">
						<h1>One more for good measure.</h1>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						<div class="col-md-2 sites-btn">
							<a href="#"><i class="material-icons">&#xE85B;</i></a>
							<a href="#"><i class="material-icons">&#xE88F;</i></a>
							<a href="#"><i class="material-icons">&#xE8A1;</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 control">
			<div class="col-md-2 sites-btn">
				
			</div>
			<div class="col-md-7 sites-nav">
				<a class="right carousel-control" href="#" data-target=".Sites" role="button" data-slide="prev">
					<span aria-hidden="true"></span>
					<span class="sr-only"><i class="material-icons">&#xE314;</i></span>
				</a>
			</div>
		</div>
	</div>
</aside>
