<section>
	<div class="col-md-12 blog-small">
		<div class="col-md-12 blog-small-description">
			<h3>What's new in the company ?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-md-12 blog-small-item">
			<div class="col-md-4">
				<div class="col-md-12 blog-item-1">
					<div class="col-md-12 blog-item-cover"></div>
					<div class="col-md-12 blog-item-description text-center">
						<h4>Example name</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id iure, obcaecati et ullam libero quia praesentium consectetur harum cumque quibusdam.</p>
						<a href="./../blog-post">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<a href="./../blog-post">
					<div class="col-md-12 blog-item-2">
						<div class="col-md-12 blog-item-cover"></div>
						<div class="col-md-12 blog-item-description">
							<h4>Example name</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id iure, obcaecati et ullam libero quia praesentium consectetur harum cumque quibusdam. Officiis, animi, optio. Dolorem dicta exercitationem vitae ipsam nobis obcaecati!</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="./../blog-post">
					<div class="col-md-12 blog-item-3">
						<h5>COTEGORY</h5>
						<h2>Example long name post</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus incidunt error, officiis modi. Ducimus ratione amet harum quaerat inventore.</p>
						<div class="col-md-12 blog-item-post-info">
							<span>24 Dec. 2015</span>
							<span class="com-n">14</span>
							<i class="material-icons">&#xE0B9;</i>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-12 text-right">
			<a href="./../blog" class="a2">blog</a>
		</div>
	</div>
	<svg fill="rgba(2, 168, 243, .05)" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
		<path d="M0 0 L50 50 L100 0 Z" />
	</svg>
</section>