<section>
	<div class="col-md-12 description-company">
		<h3>Кто такие coobbox и чем они занимаются ?</h3>
		<p>Мы небольшая группа специалистов, компетентных в своих направлениях,<br> осуществляем полный спектр услуг в области информационных и телекоммуникационных технологий</p>
		<img class="img2" src="./../images/startPage.png" />
		<ul>
			<li><a href="./../contacts">контакты</a></li>
		</ul>
	</div>
</section>