<section>
	<div class="col-md-12 description-company">
		<h3>Who we are ?</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Dolor repudiandae nesciunt placeat non rerum doloremque sit nisi est, <br>doloribus aspernatur itaque nulla cum, modi accusamus porro officiis inventore, iste exercitationem?</p>
		<img class="img2" src="./../images/startPage.png" />
		<ul>
			<li><a href="./../contacts">contacts</a></li>
		</ul>
	</div>
</section>