<section>
	<div class="col-md-12 description-company">
		<h3>Who we are ?</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Dolor repudiandae nesciunt placeat non rerum doloremque sit nisi est, <br>doloribus aspernatur itaque nulla cum, modi accusamus porro officiis inventore, iste exercitationem?</p>
		<div class="col-md-12">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
				<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
				<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
				<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">dkjghkedrjghkerjgk</div>
				<div role="tabpanel" class="tab-pane" id="profile">...</div>
				<div role="tabpanel" class="tab-pane" id="messages">...</div>
				<div role="tabpanel" class="tab-pane" id="settings">...</div>
			</div>
		</div>
		<ul>
			<li><a href="./../contacts">contacts</a></li>
		</ul>
	</div>
</section>