<section>
	<div class="col-md-12 facts-box text-center">
		<div class="col-md-12 facts-description">
			<img class="animated bounceInDown" src="./../images/facts.svg" />
			<h3>What are the results of our efforts ?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Voluptatibus necessitatibus soluta qui vitae earum veniam, blanditiis officia hic tenetur.</p>
		</div>
		<div class="col-md-12 facts-item">
			<div class="col-sm-3 col-xs-6">
				<h2>687</h2>
				<p>Completed Projects</p>
			</div>

			<div class="col-sm-3 col-xs-6">
				<h2>142</h2>
				<p>Happy Clients</p>
			</div>

			<div class="col-sm-3 col-xs-6">
				<h2>742</h2>
				<p>Total Download</p>
			</div>

			<div class="col-sm-3 col-xs-6">
				<h2>1548</h2>
				<p>Cup Of Coffee</p>
			</div>

			<div class="col-sm-3 col-sm-offset-3 col-xs-6">
				<h2>742</h2>
				<p>Total Download</p>
			</div>

			<div class="col-sm-3 col-xs-6">
				<h2>1548</h2>
				<p>Cup Of Coffee</p>
			</div>
		</div>
	</div>
</section>