<section>
	<div class="col-md-12 facts-box text-center">
		<div class="col-md-12 facts-description">
			<img class="animated bounceInDown" src="./../images/facts.svg" />
			<h3>What are the results of our efforts ?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Voluptatibus necessitatibus soluta qui vitae earum veniam, blanditiis officia hic tenetur.</p>
		</div>
		<div class="col-md-12 facts">
			<ul class="col-md-12 text-center">
				<li class="col-md-3 facts-item">
					<h2>687</h2>
					<p>Completed Projects</p>
				</li>

				<li class="col-md-3 facts-item">
					<h2>142</h2>
					<p>Happy Clients</p>
				</li>

				<li class="col-md-3 facts-item">
					<h2>742</h2>
					<p>Total Download</p>
				</li>

				<li class="col-md-3 facts-item">
					<h2>1548</h2>
					<p>Cup Of Coffee</p>
				</li>

				<li class="col-md-3 facts-item b">
					<h2>742</h2>
					<p>Total Download</p>
				</li>

				<li class="col-md-3 facts-item">
					<h2>1548</h2>
					<p>Cup Of Coffee</p>
				</li>
			</ul>
		</div>
	</div>
</section>