<section>
	<div class="col-md-12 grid-small-images">
		<ul>
			<li class="col-md-4 animated fadeInLeft">
				<a href="#">
					<div class="col-md-12 small-images">
						<!-- images heare -->
					</div>
				</a>
			</li>
			<li class="col-md-4 animated fadeInLeft">
				<a href="#">
					<div class="col-md-12 small-images">
						<!-- images heare -->
					</div>
				</a>
			</li>
			<li class="col-md-4 animated fadeInLeft">
				<a href="#">
					<div class="col-md-12 small-images">
						<!-- images heare -->
					</div>
				</a>
			</li>
			<li class="col-md-4 animated fadeInRight">
				<a href="#">
					<div class="col-md-12 small-images">
						<!-- images heare -->
					</div>
				</a>
			</li>
			<li class="col-md-4 animated fadeInRight">
				<a href="#">
					<div class="col-md-12 small-images">
						<!-- images heare -->
					</div>
				</a>
			</li>
			<li class="col-md-4 animated fadeInRight">
				<a href="#">
					<div class="col-md-12 small-images">
						<!-- images heare -->
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>