<section>
	<div class="col-md-12 help-clients">
		<div class="col-md-12 help-clients-description">
			<img src="./../images/icons/contacts/contacts-blue.svg" />
			<h3>Как с нами связаться ?</h3>
			<p>Если вы по каким-либо причинам не можете выбрать услугу или it-продукт самостоятельно<br> а также хотите обратиться по вопросам преобретённых товаров или услуг,<br> то мы готовы предоставить вам поддержку по любым продуктам или услугам Coobbox.</p>
		</div>
		<a href="./../contacts" class="a3">контакты</a>
	</div>
</section>