<section>
	<div class="col-md-12 info-small">
		<div class="col-md-12 info-small-description">
			<h3>Need more information ?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-md-12 info-small-text">
			<div class="col-md-3">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat, tempora voluptates harum doloribus numquam, est facere suscipit, cumque eum similique odit officiis minus! Maxime voluptatem cum non, tempora vitae.</p>
			</div>
			<div class="col-md-3">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat, tempora voluptates harum doloribus numquam, est facere suscipit, cumque eum similique odit officiis minus! Maxime voluptatem cum non, tempora vitae.</p>
			</div>
			<div class="col-md-3">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat, tempora voluptates harum doloribus numquam, est facere suscipit, cumque eum similique odit officiis minus! Maxime voluptatem cum non, tempora vitae.</p>
			</div>
			<div class="col-md-3">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat, tempora voluptates harum doloribus numquam, est facere suscipit, cumque eum similique odit officiis minus! Maxime voluptatem cum non, tempora vitae.</p>
			</div>
		</div>
		<div class="col-md-12 text-right">
			<a href="./../info" class="a2">info</a>
		</div>
	</div>
</section>