<section>
	<div class="col-md-12 block-mesage">
		<div class="col-md-1 block-mesage-logo">
			<img src="./../images/icons/info/info-blue.svg" alt="" />
		</div>
		<div class="col-md-7 block-mesage-text text-left">
			<h4>Need more information ?</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-md-4 block-mesage-button">
			<a href="info">info</a>
		</div>
	</div>
	<div class="col-md-12 info-small">
		<div class="col-md-12 info-small-text">
			<div class="col-md-3">
				<i class="material-icons">&#xE8F8;</i>
				<h5>Example name</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat, tempora voluptates harum doloribus numquam, est facere suscipit, cumque eum <a href="#">similique odit</a> officiis minus! Maxime voluptatem cum non, tempora vitae.</p>
			</div>
			<div class="col-md-3">
				<i class="material-icons">&#xE854;</i>
				<h5>Example name</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat, tempora voluptates harum doloribus numquam, est facere suscipit, cumque eum similique odit <a href="#">officiis minus!</a> Maxime voluptatem cum non, tempora vitae.</p>
			</div>
			<div class="col-md-3">
				<i class="material-icons">&#xE90F;</i>
				<h5>Example name</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat, tempora voluptates harum doloribus numquam, est facere suscipit, cumque eum similique odit officiis minus! <a href="#">Maxime voluptatem</a> cum non, tempora vitae.</p>
			</div>
			<div class="col-md-3">
				<i class="material-icons">&#xE87E;</i>
				<h5>Example name</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat, tempora voluptates harum doloribus numquam, est facere suscipit, cumque eum <a href="#">similique odit</a> officiis minus! Maxime voluptatem cum non, tempora vitae.</p>
			</div>
			<div class="col-md-6">
				<i class="material-icons">&#xE90D;</i>
				<h5>Example name</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat, tempora voluptates harum doloribus numquam, est facere suscipit, cumque eum similique odit officiis minus! Maxime voluptatem cum non, tempora vitae.</p>
			</div>
			<div class="col-md-6">
				<i class="material-icons">&#xE912;</i>
				<h5>Example name</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat, tempora voluptates harum doloribus numquam, est facere suscipit, cumque eum similique odit officiis minus! <a href="#">Maxime voluptatem</a> cum non, tempora vitae.</p>
			</div>
		</div>
	</div>
</section>