<section>
	<div class="col-md-12 menu-icons">
		<div class="col-md-12 menu-i">
			<div class="col-md-1 icon-info">
				<a href="info" title="info">
					<div class="col-md-12 img-icon">
						<img src="images/icons/info/info-blue.svg" />
					</div>
					<p>info</p>
				</a>
			</div>
			<div class="col-md-1 icon-portfolio">
				<a href="portfolio" title="portfolio">
					<div class="col-md-12 img-icon">
						<img src="images/icons/portfolio/portfolio-blue.svg" />
					</div>
					<p>portfolio</p>
				</a>
			</div>
			<div class="col-md-1 icon-services">
				<a href="services" title="services">
					<div class="col-md-12 img-icon">
						<img src="images/icons/services/services-blue.svg" />
					</div>
					<p>services</p>
				</a>
			</div>
			<div class="col-md-1 icon-shop">
				<a href="shop" title="shop">
					<div class="col-md-12 img-icon">
						<img src="images/icons/shop/shop-blue.svg" />
					</div>
					<p>shop</p>
				</a>
			</div>
			<div class="col-md-1 icon-blog">
				<a href="blog" title="blog">
					<div class="col-md-12 img-icon">
						<img src="images/icons/blog/blog-blue.svg" />
					</div>
					<p>blog</p>
				</a>
			</div>
			<div class="col-md-1 icon-contacts">
				<a href="contacts" title="contacts">
					<div class="col-md-12 img-icon">
						<img src="images/icons/contacts/contacts-blue.svg" />
					</div>
					<p>contacts</p>
				</a>
			</div>
		</div>
	</div>
</section>