<section>
	<div class="col-md-12 multi-menu animated bounceInLeft">
		<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
		<nav id="ml-menu" class="menu">
			<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
			<div class="menu__wrap">
				<ul data-menu="main" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">Top ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">New ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Servives ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Menagment ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Email ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Company ?</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Finance ?</a></li>
				</ul>
			</div>
		</nav>
		<div class="content">
			<!-- Ajax loaded content here -->
			<div class="col-md-12 blog-page-post">
				<div class="col-md-12 blog-post-head">
					<div class="col-md-3 blog-post-images"></div>
					<div class="col-md-9 blog-post-description">
						<span>23 october / <a href="#">volitilov</a></span>
						<h3>Name example post</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas laborum asperiores quidem ab impedit facilis neque aperiam, recusandae tenetur excepturi exercitationem doloribus unde, consequuntur fugit veritatis reiciendis doloremque et! Itaque.</p>
					</div>
				</div>
				<div class="col-md-12 blog-post-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quos, iure dicta iusto perspiciatis unde dolores odio quo nobis non accusantium eligendi, quisquam ipsam id natus sapiente explicabo, vero quas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quos reprehenderit reiciendis soluta eos fugit inventore sequi temporibus omnis quisquam qui iure pariatur, id <a href="#">adipisci enim</a> provident sit animi vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam blanditiis illum veniam nam esse eligendi unde amet placeat delectus ducimus itaque doloremque, laudantium commodi rerum debitis quibusdam natus est alias.</p>
					<div class="col-md-12">
						<ol class="col-md-4">
							<li>Example list text heare</li>
							<li>Example list text heare</li>
							<li>Example list text heare</li>
							<li>Example list text heare</li>
						</ol>
						<ol class="col-md-4">
							<li>Example list text heare</li>
							<li>Example list text heare</li>
							<li>Example list text heare</li>
							<li>Example list text heare</li>
						</ol>
						<ol class="col-md-4">
							<li>Example list text heare</li>
							<li>Example list text heare</li>
							<li>Example list text heare</li>
							<li>Example list text heare</li>
						</ol>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus corporis amet, consectetur quae quas illo dolore odio eveniet cumque sed eligendi tempore, error alias similique, recusandae. Consectetur ducimus quis mollitia? Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Harum tempora ducimus minus, totam vel, vero et doloremque beatae incidunt! Aperiam voluptas sunt nam quas, possimus ullam iusto recusandae numquam ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam dolores at, rerum nemo. Libero, eligendi quae dolores nobis, dolor perferendis beatae reiciendis <a href="#">nostrum</a> assumenda error tempore voluptatibus eum. In, tempore.</p>
					<div class="col-md-12">
						<div class="col-md-4 post-body-img"></div>
						<div class="col-md-4 post-body-img"></div>
						<div class="col-md-4 post-body-img"></div>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus corporis amet, consectetur quae quas illo dolore odio eveniet cumque sed eligendi tempore, error alias similique, recusandae. Consectetur ducimus quis mollitia? Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Harum tempora ducimus minus, totam vel, vero et doloremque beatae incidunt! Aperiam voluptas sunt nam quas, possimus ullam iusto recusandae numquam ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam dolores at, rerum nemo. Libero, eligendi quae dolores nobis, dolor perferendis beatae reiciendis <a href="#">nostrum</a> assumenda error tempore voluptatibus eum. In, tempore.</p>
					<div class="col-md-12 tags">
						<ul>
							<li><a href="#">tag</a></li>
							<li><a href="#">tag</a></li>
							<li><a href="#">tag</a></li>
							<li><a href="#">tag</a></li>
							<li><a href="#">tag</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-12 blog-post-footer">
					<div class="col-md-6 share">
						<!-- <a href="#"><i class="fa fa-github"></i></a> -->
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<!-- <a href="#"><i class="fa fa-pinterest-p"></i></a> -->
						<!-- <a href="#"><i class="fa fa-youtube"></i></a> -->
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-odnoklassniki"></i></a>
						<!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
						<a href="#"><i class="fa fa-instagram"></i></a>
						<!-- <a href="#"><i class="fa fa-codepen"></i></a> -->
						<!-- <a href="#"><i class="fa fa-bitbucket"></i></a> -->
						<!-- <a href="#"><i class="fa fa-behance"></i></a> -->
						<!-- <a href="#"><i class="fa fa-dribbble"></i></a> -->
						<!-- <a href="#"><i class="fa fa-tumblr"></i></a> -->
						<a href="#"><i class="fa fa-vk"></i></a>
						<!-- <a href="#"><i class="fa fa-whatsapp"></i></a> -->
						<!-- <a href="#"><i class="fa fa-vimeo"></i></a> -->
					</div>
					<div class="col-md-6 pager text-right">
						<ul>
							<li><a href="#" class="previous"></a></li>
							<li><a href="#" class="next"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-12 comments">
					<div class="col-md-12 comments-create">
						<form method="POST">
							<fieldset>
								<label>
									<textarea name="text" rows="4" placeholder="text heare..." requred ></textarea>
								</label>
							</fieldset>
							<fieldset>
								<label>
									<button type="submit">submit</button>
								</label>
							</fieldset>
						</form>
					</div>
					<% include ./../components/_comments-log-item %>
					<% include ./../components/_comments-log-item %>
					<% include ./../components/_comments-log-item %>
				</div>
			</div>
		</div>
		
	</div>
</section>	