<section>
	<div class="col-md-12 portfolio-small">
		<div class="col-md-12 portfolio-small-description">
			<h3>Хотите посмотреть наши работы ?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-md-12 portfolio-small-item">
			<ul>
				<li class="col-md-4">
					<a href="#">
						<div class="col-md-12 ex-portfolio"></div>
					</a>
				</li>
				<li class="col-md-4">
					<a href="#">
						<div class="col-md-12 ex-portfolio"></div>
					</a>
				</li>
				<li class="col-md-4">
					<a href="#">
						<div class="col-md-12 ex-portfolio"></div>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-12 text-right">
			<a href="./../portfolio" class="a2">portfolio</a>
		</div>
	</div>
</section>