<section>
	<div class="col-md-12 block-mesage">
		<div class="col-md-1 block-mesage-logo">
			<img src="./../images/icons/portfolio/portfolio-blue.svg" alt="" />
		</div>
		<div class="col-md-7 block-mesage-text text-left">
			<h5>Want to see our portfolio ?</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-md-4 block-mesage-button">
			<a href="portfolio">portfolio</a>
		</div>
	</div>
	<div class="col-md-12 portfolio-small">
		<div class="col-md-12 portfolio-small-item">
			<ul>
				<li class="col-md-4">
					<a href="#">
						<div class="col-md-12 ex-portfolio"></div>
					</a>
				</li>
				<li class="col-md-4">
					<a href="#">
						<div class="col-md-12 ex-portfolio"></div>
					</a>
				</li>
				<li class="col-md-4">
					<a href="#">
						<div class="col-md-12 ex-portfolio"></div>
					</a>
				</li>
				<li class="col-md-4">
					<a href="#">
						<div class="col-md-12 ex-portfolio"></div>
					</a>
				</li>
				<li class="col-md-4">
					<a href="#">
						<div class="col-md-12 ex-portfolio"></div>
					</a>
				</li>
				<li class="col-md-4">
					<a href="#">
						<div class="col-md-12 ex-portfolio"></div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>