<section>
	<div class="col-md-12 reclam-mesage-2 text-center">
		<div class="col-md-2 reclam-mesage-logo">
			<img src="./../images/oti][ito-icon-grey.png" alt="" />
		</div>
		<div class="col-md-6 reclam-mesage-text text-left">
			<h2>PRE-ORDER NOW FOR $29</h2>
			<p>GET FREE GIFT AND BECOME OUR CPECIAL MEMBER</p>
		</div>
		<div class="col-md-4 reclam-mesage-button">
			<a href="#" class="button-shop">PURCASE NOW</a>
			<a href="shop-item" class="button-add">VIEW MORE</a>
		</div>
	</div>
</section>