<section>
	<div class="col-md-12 search-item animated bounceInDown">
		<a href="#">
			<div class="col-md-2 image-item"></div>
			<div class="col-md-10 text-item">
				<h5>Example name.</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed maiores laborum quisquam eveniet repudiandae impedit, voluptatum, quasi nemo ex eum nam explicabo perspiciatis assumenda tempora autem eligendi nostrum? Vel, nesciunt!</p>
			</div>
		</a>
	</div>
</section>