<section>
	<div class="col-md-12 services-small">
		<div class="col-md-12 services-small-description">
			<h3>Какие услуги мы осуществляем ?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-md-12 services-small-item">
			<div class="col-md-12 serv-ex-list">
				<div class="col-md-3">
					<h5>Разработка</h5>
					<ul>
						<li>Creating Web sites</li>
						<li>Web portal</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Работа с данными</h5>
					<ul>
						<li>Big Data</li>
						<li>Data mining</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Дизайн</h5>
					<ul>
						<li>Проектирование интерфейсов</li>
						<li>Web-верстка</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Инф. безопасность</h5>
					<ul>
						<li>Внешний аудит безопасности</li>
						<li>Внутренний аудит безопасности</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-12 serv-ex-list">
				<div class="col-md-3">
					<h5>Компьютерное зрение</h5>
					<ul>
						<li>Анализ видео</li>
						<li>Обработка видео</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Администрирование</h5>
					<ul>
						<li>Виртуализация</li>
						<li>Cерверная оптимизация</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Поддержка сайтов</h5>
					<ul>
						<li>Поддержка сайтов</li>
						<li>Модернизация сайтов</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Переводы</h5>
					<ul>
						<li>Течнические</li>
						<li>Медицинские</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-12 text-right">
			<a href="./../services" class="a2">услуги</a>
		</div>
	</div>
</section>