<section>
	<div class="col-md-12 services-small">
		<div class="col-md-12 services-small-description">
			<h3>What services do we provide ?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-md-12 services-small-item">
			<div class="col-md-12 serv-ex-list">
				<div class="col-md-3">
					<h5>Development</h5>
					<ul>
						<li>Creating Web sites</li>
						<li>Web portal</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Working with data</h5>
					<ul>
						<li>Big Data</li>
						<li>Data mining</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Design</h5>
					<ul>
						<li>interface design</li>
						<li>Web layout</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Info security</h5>
					<ul>
						<li>External security audit</li>
						<li>Internal security audit</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-12 serv-ex-list">
				<div class="col-md-3">
					<h5>Computer vision</h5>
					<ul>
						<li>Video analysis</li>
						<li>video processing</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Administration</h5>
					<ul>
						<li>Virtualization</li>
						<li>Server optimization</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Support sites</h5>
					<ul>
						<li>Support sites</li>
						<li>Modernization sites</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Translations</h5>
					<ul>
						<li>Technical</li>
						<li>Medical</li>
						<li><a href="#">...</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-12 text-right">
			<a href="./../services" class="a2">services</a>
		</div>
	</div>
</section>