<section>
	<div class="col-md-12 block-mesage">
		<div class="col-md-1 block-mesage-logo">
			<img src="./../images/icons/shop/shop-blue.svg" alt="" />
		</div>
		<div class="col-md-7 block-mesage-text text-left">
			<h5>WANT TO SEE OUR BEST OFFER ?</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="col-md-4 block-mesage-button">
			<a href="shop">shop now</a>
		</div>
	</div>
	<div class="col-md-12 shop-small">
		<div class="col-md-12 shop-small-item">
			<ul>
				<li class="col-md-3">
					<div class="product">
						<img src="images/2.png" alt="Product 2" />
						<p>Meiomi Pinot Noir</p>
						<div class="col-md-12 product-stars">
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<span>234 reviews</span>
						</div>
						<a href="shop-iem" class="product-button"><span>23 $</span> Shop now</a>
					</div>
				</li>
				<li class="col-md-3">
					<div class="product">
						<img src="images/5.png" alt="Product 5" />
						<p>Chateau Pontet-Canet</p>
						<div class="col-md-12 product-stars">
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<span>24 reviews</span>
						</div>
						<a href="shop-item" class="product-button"><span>13 $</span> Shop now</a>
					</div>
				</li>
				<li class="col-md-3">
					<div class="product">
						<img src="images/7.png" alt="Product 7" />
						<p>Clarendon Hills Astralis</p>
						<div class="col-md-12 product-stars">
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<span>257 reviews</span>
						</div>
						<a href="shop-item" class="product-button"><span>73 $</span> Shop now</a>
					</div>
				</li>
				<li class="col-md-3">
					<div class="product">
						<img src="images/8.png" alt="Product 8" />
						<p>Lapostolle Clos</p>
						<div class="col-md-12 product-stars">
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<i class="material-icons">&#xE885;</i>
							<span>434 reviews</span>
						</div>
						<a href="shop-item" class="product-button"><span>23 $</span> Shop now</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>