<section class="col-md-4">
	<sidebar class="col-md-12 sidebar-services control">
		<div class="col-md-12 services-list">
			<a href="#" data-target=".Services" data-slide-to="0" class="active">
				<p>Разработка <i class="material-icons">&#xE5C8;</i></p>
			</a>
			<a href="#" data-target=".Services" data-slide-to="1">
				<p>Работа с данными <i class="material-icons">&#xE5C8;</i></p>
			</a>
			<a href="#" data-target=".Services" data-slide-to="2">
				<p>Дизайн <i class="material-icons">&#xE5C8;</i></p>
			</a>
			<a href="#" data-target=".Services" data-slide-to="3">
				<p>Компьютерное зрение <i class="material-icons">&#xE5C8;</i></p>
			</a>
			<a href="#" data-target=".Services" data-slide-to="4">
				<p>Администрирование <i class="material-icons">&#xE5C8;</i></p>
			</a>
			<a href="#" data-target=".Services" data-slide-to="5">
				<p>Инф. безопасность <i class="material-icons">&#xE5C8;</i></p>
			</a>
			<a href="#" data-target=".Services" data-slide-to="6">
				<p>Переводы (англ. франц.) <i class="material-icons">&#xE5C8;</i></p>
			</a>
		</div>
	</sidebar>
</section>