.advantages {
	padding-left: 170px;
	padding-right: 170px;
	h3 {
		margin-top: -50px;
		color: black;
	}
	p {
		color: #333 !important;
	}
	.advantages-description {
		img {
			width: 80px !important;
		}
	}
	.advantages-item {
		padding-right: 80px;
		padding-left: 80px;
		img {
			margin-bottom: -20px;
		}
		h4 {
			color: black;
		}
		p {
			margin: 10px;
		}
	}
}