.description-company {
	padding-top: 50px;
	.img2 {
		margin-top: 30px;
		width: 65% !important;
		height: 370px !important;
	}
	h3 {
		color: black;
	}
	p {
		color: rgba(0, 0, 0, .5) !important;
	}
	ul {
		margin-top: 50px;
		padding: 0px;
		li {
			margin: 10px;
			display: inline;
			a {
				color: rgb(2, 168, 243);
				transition: all 0.3s;
				font-size: 16px;
				font-weight: bold;
				background-color: #333;
				// background-image: url("./../../images/dribbble-particle-wave.gif");
				// background-size: cover;
				background-color: #333;
				border-radius: 4px;
				box-shadow: 1px 1px 5px rgba(0,0,0,.2);
				padding: 11px 35px !important;
				padding-left: 25px !important;
				&:after {
					transition: all 0.3s;
					color: rgb(2, 168, 243);
					top: -1px;
					right: -10px;
					font-size: 10px !important;
					display: inline-block;
					font-family: AC AppleIcons;
					position: relative;
					z-index: 1;
					content: "❯";
				}
				&:hover {
					&:after {
						right: -15px;
					}
				}
			}
		}
	}
}