.facts-box {
	padding-left: 170px;
	padding-right: 170px;
	h3 {
		margin-top: -50px;
		color: black;
	}
	p {
		color: #333 !important;
	}
	.facts-description {
		img {
			width: 80px !important;
		}
	}
	.facts {
		margin-top: 50px;
		padding-left: 50px;
		padding-right: 50px;
		ul {
			padding: 0px;
			list-style: none;
			display: block;
		}
		.facts-item {
			h2 {
				color: black;
			}
			p {
				font-weight: bold;
				margin-bottom: 50px;
			}
		}
		.b {
			margin-left: 25%;
		}
	}
}