footer {
	text-transform: uppercase;
	padding: 0px !important;
	font-size: 12px;
	background: rgb(2, 168, 243);
	h5 {
		color: black
	}
	svg {
		margin-top: -48px;
	}
	.footer-logo {
		margin-top: -70px;
		padding-bottom: 10px;
		text-align: center;
		img {
			width: 9%;
		}
	}
	.footer-body {
		z-index: 99;
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
		background-color: rgb(2, 168, 243);
		background-image: url("./../../images/stars.png");
	background-size: contain;
	background-repeat: no-repeat;
		margin-top: -5px;
		padding: 80px;
		padding-left: 110px;
		padding-right: 110px;
		.site-map {
			h5 {
				font-size: 13px;
				color: black;
				margin-bottom: 20px;
			}
			ul {
				padding: 0px;
				margin-right: 50px;
				list-style: none;
				display: inline-block;
				li {
					padding: 4px 0px;
					a {
						font-size: 12px;
						font-weight: bold;
						color: #333;
						&:after {
							transition: all 0.3s;
							color: #333;
							top: -1px;
							right: -10px;
							font-size: 10px;
							display: inline-block;
							position: relative;
							z-index: 1;
							content: "❯";
						}
						&:hover {
							color: black;
							&:after {
								color: black;
								right: -15px;
							}
						}
					}
				} 
			}
		}
		.shop-locator {
			h5 {
				font-size: 13px;
				color: black;
				margin-bottom: 30px;
			}
			i {
				color: #333;
				font-size: 55px;
			}
			ul {
				padding: 0px;
				display: inline-block;
				list-style: none;
				li {
					padding-left: 5px;
				}
			}
		}
	}
	.bottom-text {
		z-index: 199;
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
		background-color: #333;
		margin-top: -5px;
		padding: 15px;
		padding-top: 20px;
		padding-left: 110px;
		padding-right: 110px;
		a {
			font-size: 10px;
			font-weight: bold;
			padding: 0px !important;
			padding-right: 15px !important;
			margin-right: 15px;
			color: rgb(2, 168, 243);
			&:after {
				transition: all 0.3s;
				color: rgb(2, 168, 243);
				top: -2px;
				right: -7px;
				font-size: 5px;
				display: inline-block;
				position: relative;
				z-index: 1;
				content: "❯";
			}
			&:hover {
				text-decoration: underline !important;
				&:after {
					right: -12px;
				}
			}
		}
		.copyright {
			display: inline;
			padding: 0px;
			a {
				padding-left: 10px !important;
			}
			p {
				font-size: 10px;
				color: rgba(255, 255, 255, .4);
				padding-right: 15px;
				margin-right: 10px;
				float: left;
			}
		}
		.dop-info-footer {
			padding: 0px;
			a {
				float: right;
			}
		}
		.ac-gf {
			float: right;
			margin-right: 0px;
			padding-right: 0px !important;
			.flag {
				background-repeat: no-repeat;
				background-size: 16px 16px;
				height: 16px;
				width: 16px;
				background-image: url("./../../images/flag_large.png");
				float: left;
				margin: 1px 5px 0 0;
				cursor: pointer;
			}
		}
	}
}