.info-small {
	background-color: rgba(2, 168, 243, .15);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
	padding-bottom: 120px;
	padding-top: 50px;
	padding-left: 250px;
	padding-right: 190px;
	h3 {
		color: #333;
	}
	p {
		color: #666;
		float: left;
	}
	.info-small-description {
		text-align: left;
		&:before {
			color: #333;
			width: 60px;
			height: 60px;
			background-image: url('./../../images/icons/info/info-blue.svg');
			background-size: contain;
			top: 80px;
			right: 85px;
			display: inline-block;
			position: relative;
			content: "";
		}
	}
	.info-small-text {
		padding: 0px;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.a2 {
		color: white;
		transition: all 0.3s;
		font-size: 16px;
		font-weight: bold;
		background-color: rgb(2, 168, 243);
		border-radius: 4px;
		box-shadow: 0px 3px 8px 1px rgba(0,0,0,.2);
		padding: 11px 35px !important;
		padding-left: 25px !important;
		&:after {
			transition: all 0.3s;
			color: white;
			top: -1px;
			right: -10px;
			font-size: 10px !important;
			display: inline-block;
			font-family: AC AppleIcons;
			position: relative;
			z-index: 1;
			content: "❯";
		}
		&:hover {
			box-shadow: none;
			&:after {
				right: -15px;
			}
		}
	}
}