.info-small {
	background: linear-gradient(to bottom, transparent, rgba(2, 168, 243, .1));
	padding-bottom: 210px;
	padding-top: 80px;
	padding-left: 155px;
	padding-right: 155px;
	i {
		color: rgb(2, 168, 243);
		float: left;
		margin-right: 7px;
		margin-top: 6px;
		font-size: 20px;
	}
	h5 {
		text-transform: uppercase;
		color: #333;
	}
	p {
		font-size: 12px;
		margin-right: 10px;
		color: #666;
		float: left;
	}
	a {
		font-weight: bold;
		color: rgb(2, 168, 243);
		&:hover {
			text-decoration: underline !important;
		}
	}
	.info-small-text {
		padding: 0px;
		div:nth-child(-n+6) {
			margin-top: 40px;
		}
	}
}