.block-mesage {
	padding-top: 30px;
	padding-bottom: 20px;
	padding-right: 170px;
	padding-left: 170px;
	background: #eaeaea url("./../images/bg.png") repeat !important;
	box-shadow: 1px 1px 5px rgba(0,0,0,.2);
	z-index: 1; 
	color: #333;
	.block-mesage-logo {
		margin-top: 9px;
		text-align: left;
		img {
			width: 50px;
			height: auto;
		}
	}
	.block-mesage-text {
		h4 {
			font-weight: bold;
			text-transform: uppercase;
		}
		p {
			text-transform: uppercase;
		}
	}
	.block-mesage-button {
		margin-top: 10px;
		a {
			float: right;
			color: white;
			transition: 0.3s;
			font-size: 17px;
			font-weight: bold;
			background-color: rgb(2, 168, 243);
			border-radius: 4px;
			box-shadow: 1px 1px 5px rgba(0,0,0,.2);
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
			padding: 11px 35px;
			padding-left: 25px;
			&:after {
				transition: all 0.3s;
				color: white;
				top: -1px;
				right: -10px;
				font-size: 10px;
				display: inline-block;
				font-family: AC AppleIcons;
				position: relative;
				z-index: 1;
				content: "❯";
			}
			&:hover {
				&:after {
					right: -15px;
				}
			}
		}
	}
}