.menu-home {
	padding: 0px !important;
}
/////////////////////////////////////////////////////
.Home {
	margin-top: 55px;
	background: rgb(2, 168, 243);
	z-index: 0;
	padding: 0px;
	padding-top: 50px !important;
	padding-bottom: 50px;
	/////////////////////////////////////////////////
	.home-top {
		display: block;
		margin-left: -7px;
		padding: 0px;
		height: 700px;
		.home-slide {
			display: block;
			height: 700px;
			padding: 0px;
		}
		///////////////////////////////////////////////////
		.carousel,
		.item,
		.active {
		    height: 100%;
		}
		.Slide {
			padding: 0px;
			display: block;
			z-index: 2;
			.carousel-inner {
				padding: 0px;
				width: 100%;
				height: 700px;
				.active {
					transition: 1.8s;
				}
				.carousel-caption {
					width: 100%;
				}
			}
		}
		.carousel-control.right {
			right: 0;
			left: auto;
			padding-top: 320px !important;
			img {
				width: 20%;
			}
		}
		.carousel-control {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 15%;
			text-align: center;
		}
	}
}