.info {
	padding: 0px;
	margin-bottom: 0px;
	margin-left: 3%;
	margin-top: 70px;
	width: 94.8%;
	min-height: 680px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .1);
	text-transform: uppercase;
	p {
		font-size: 12px;
		text-transform: none;
	}
	.example-info-page {
		text-align: center;
		padding-top: 50px;
		padding-left: 150px;
		padding-right: 150px;
		img {
			width: 100%;
		}
		.choose-category {
			font-size: 20px;
			font-weight: bold;
			color: rgb(2, 168, 243);
		}
	}
	.info-small {
		padding: 0px;
		background: transparent;
		.info-small-item {
			padding: 10px;
		}
	}
	.info-small-text {
		padding: 0px;
		div:nth-child(-n+6) {
			margin-top: 10px;
		}
	}
}