.content {
	position: relative;
	min-height: 300px;
	margin: 0 0 0 300px;
	padding-left: 30px;
	padding-right: 30px;
	.example-info-page {
		text-align: center;
		padding-top: 50px;
		padding-left: 150px;
		padding-right: 150px;
		p {
			margin-bottom: 50px;
		}
		img {
			margin-top: -20px;
			width: 80%;
		}
		.choose-category {
			font-size: 20px;
			font-weight: bold;
			color: rgb(2, 168, 243);
		}
	}
	.test-multi-menu {
		h3 {
			color: rgb(2, 168, 243);
		}
		.test-block-1 {
			margin-top: 30px;
			padding: 0px;
			ul {
				padding: 0px;
				list-style: none;
				li {
					padding: 0px;
					padding-right: 20px;
					display: inline-block;
					i {
						color: rgb(2, 168, 243);
						margin-top: 10px;
						margin-right: 5px;
						float: left;
					}
				}
			}
		}
		img {
			width: 50%;
		}
	}
	.info-small {
		padding: 0px;
		background: transparent;
	}
}

.content--loading {
	background: url("./../../../images/loading.svg") no-repeat 50% 50%;
}

.products {
	margin: 0;
	padding: 2em;
}

.product {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px;
	border-radius: 5px;
	background: #1c1d22;
}

.product .foodicon {
	font-size: 4em;
	line-height: 190px;
	color: #3b3d4a;
}

@media screen and (max-width: 40em) {
	
}
